{%  extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>Dear {{ submitter }},</p>
{% endblock %}

{%  block content %}
	Your Occurrence Report form {{ occurrence_report.occurrence_report_number }} {% if occurrence_report.species %}{{ occurrence_report.species.taxonomy.scientific_name }}{% elif occurrence_report.community %}{{ occurrence_report.community.taxonomy.community_name }}{% endif %} has been reviewed and requires an amendment before further assessment.

    {% if reason %}
        <p>
        	<span>Amendment Reason: {{ reason }}</span>
        </p>
    {% endif %}

    {% if amendment_request_text %}
        <p><span> Amendment details: <br> {{ amendment_request_text }}</span></p>
    {% endif %}
    <p>
    You can access this Occurrence Report using the following link:
    </p>
    <a href="{{url}}">Access Occurrence Report</a>
{%  endblock %}
