{%  extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>{{ referral_name }},</p>
{% endblock %}

{%  block content %}
    <p>A referral for Occurrence Report form <strong>{{occurrence_report.occurrence_report_number}}</strong> {% if occurrence_report.species %}{{ occurrence_report.species.taxonomy.scientific_name }}{% elif occurrence_report.community %}{{ occurrence_report.community.taxonomy.community_name }}{% endif %} has been completed:</p>

    <p>Referral Comments: {{referral_comments}}</p>

    <p>You can access this Occurrence Report using the following link:</p>

    <a href="{{url}}">Access Occurrence Report</a>
{%  endblock %}
