{% extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>Dear {{ submitter }},</p>
{% endblock %}

{% block content %}
    <p>Your proposal for a {% if occurrence_report.is_flora_application %}flora{% elif occurrence_report.is_fauna_application %}fauna{% else %}community{% endif %}
        Occurrence Report form has been submitted, the Occurrence Report form number is {{ occurrence_report.occurrence_report_number }} {% if occurrence_report.species %}{{ occurrence_report.species.taxonomy.scientific_name }}{% elif occurrence_report.community %}{{ occurrence_report.community.taxonomy.community_name }}{% endif %}</p>
    Submitter: {{ submitter }}<br />
    Lodgement date: {{ occurrence_report.lodgement_date }}
    <p>You will receive an email notification if there is any incomplete information or documents missing from the occurrence report form.</p>
{% endblock %}
