{%  extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>Hello Team,</p>
{% endblock %}

{%  block content %}
    An assessor has proposed to decline Occurrence Report form {{ occurrence_report.occurrence_report_number }} {% if occurrence_report.species %}{{ occurrence_report.species.taxonomy.scientific_name }}{% elif occurrence_report.community %}{{ occurrence_report.community.taxonomy.community_name }}{% endif %}
    {% if reason %}
    <p>
        <span>Propose Decline Reason: {{ reason }}</span>
    </p>
    {% endif %}

    <p>
        You can decline this occurrence report (or send it back to the assessor) using the following link:
    </p>

    <a href="{{url}}">Access Occurrence Report {{ occurrence_report.occurrence_report_number }}</a>
{%  endblock %}
