{%  extends 'boranga/emails/base_email.html' %}

{%  block greetings %}
    <p>Hello Team,</p>
{% endblock %}

{%  block content %}
    {% if species_community_proposal.is_flora_application %}
        A new Flora Profile {{ species_community_proposal.species_number }} {{ species_community_proposal.taxonomy.scientific_name }} has been created.
        <p>
            You can view this species using the following link:
        </p>
        <a href="{{url}}">Access Species</a>
    {% elif species_community_proposal.is_fauna_application %}
        A new Fauna Profile {{ species_community_proposal.species_number }} {{ species_community_proposal.taxonomy.scientific_name }} has been created.
        <p>
            You can view this species using the following link:
        </p>
        <a href="{{url}}">Access Species</a>
    {% else %}
        A new Community Profile {{ species_community_proposal.community_number }} {{ species_community_proposal.taxonomy.community_name }} has been created.
        <p>
            You can view this community using the following link:
        </p>
        <a href="{{url}}">Access Community</a>
    {% endif %}

{%  endblock %}
