{% extends 'boranga/emails/base_email.html' %}

{% block content %}
    <p>Dear Sir/Madam,</p>

    <p>
        The species named in your Occurrence Report {{ occurrence_report.occurrence_report_number }} has undergone a name change. This automatically updated the species name in {{ occurrence_report.occurrence_report_number }} from {{ original_species.taxonomy.scientific_name }} ({{ original_species.species_number }}) to {{ resultant_species.taxonomy.scientific_name }} ({{ resultant_species.species_number }}).
    </p>

    <p>
        No other details have been changed by this action. This ORF will remain available to you in your Boranga Occurrences Dashboard.
    </p>

    <p>
        <a href="{{ occurrence_report_url }}">Access Occurrence Report {{ occurrence_report.occurrence_report_number }}</a>
    </p>
{% endblock %}
