{% load users %}

{% is_internal as is_internal_login %}

{% if not is_internal_login %}
<div class="alert alert-primary" role="alert">
    <div class="d-flex gap-3">
        <i
            class="bi bi-info-circle-fill text-primary fs-4 flex-shrink-0"
        ></i>
        <div class="notice-body">
            <p class="mb-0">
                The Department of Biodiversity, Conservation and Attractions (DBCA) collects this personal information to contact you in relation to your access to Boranga.</p>
            <p class="mb-0">We may share this information with other organisations/individuals, in order to advise of your validity of access to this database.</p>
            <p class="mb-0">If you choose not to provide contact details, we will be unable to grant access to this database.</p>
            <p class="mb-0">For further details on how DBCA manage your personal information, you can read our <a href="https://www.dbca.wa.gov.au/about-us/legislation/corporate-policies" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
                If you have any questions about how your personal information will be handled, or if you would like to access your personal information, please contact DBCA at <a href="mailto:privacy@dbca.wa.gov.au">privacy@dbca.wa.gov.au</a>.
            </p>
        </div>
    </div>
</div>
{% endif %}
