{%  extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>{{ referral_name }},</p>
{% endblock %}

{%  block content %}
    <p>A referral for Conservation Status Proposal <strong>{{cs_proposal.conservation_status_number}}</strong> {% if cs_proposal.species %}{{ cs_proposal.species.taxonomy.scientific_name }}{% elif cs_proposal.community %}{{ cs_proposal.community.taxonomy.community_name }}{% endif %} has been recalled.</p>

    <p>No further action from you is required.</p>
{%  endblock %}
