{%  extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>{{ assessor }},</p>
{% endblock %}

{%  block content %}
	The Proposal {{ cs_proposal.conservation_status_number }} {% if cs_proposal.species %}{{ cs_proposal.species.taxonomy.scientific_name }}{% elif cs_proposal.community %}{{ cs_proposal.community.taxonomy.community_name }}{% endif %} has been sent back by the approver.

    <p>Reason / Comments: {{ approver_comment }}</p>

    <p>
        You can access this Proposal using the following link:
    </p>

    <a href="{{url}}">Access Proposal</a>
{%  endblock %}
