{%  extends 'boranga/emails/base_email.html' %}

{% block greetings %}
<p>Hello Team,</p>
{% endblock %}

{%  block content %}
    <p>
	    The Conservation Status Proposal {{ cs_proposal.conservation_status_number }} {% if cs_proposal.species %}{{ cs_proposal.species.taxonomy.scientific_name }}{% elif cs_proposal.community %}{{ cs_proposal.community.taxonomy.community_name }}{% endif %} has been assessed and is now 'Ready for Agenda'.
    </p>

    <p>
        Assessor Recommended Action / Comments:
    </p>

    <p>
        {{ assessor_comment }}
    </p>

    <p>
        You can action this Proposal using the following link:
    </p>

    <a href="{{url}}">Conservation Status Proposal {{ cs_proposal.conservation_status_number }}</a>
{%  endblock %}
